<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produit</title>
</head>
<body>
    <h1>Ajouter Produit</h1>
    <form action="produit/addAction" method="post">
    Lib<input type="text" name="lib" ><br>
    Prix <input type="number" name="prix" ><br>
    marq <input type="text" name="marq" ><br>
    <input type="submit" value="Ajouter">
</form>
</body>
</html>