<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modification</title>
</head>
<body>
    <h1>Modifier le produit</h1>
    <form action="/produit/actionModif" method="post">
     <input type="text" name="lib" value="{{doc[0].lib}}"><br>
     <input type="number" name="prix" value="{{doc[0].prix}}"><br>
     <input type="text" name="marq" value="{{doc[0].marq}}"><br>
     <input type="text" name="id" value="{{doc[0]._id}}"hidden><br>
     <input type="submit" value="Modifier">
    </form>
</body>
</html>